body {
  width: 480px;
}

#a {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0,71, 189);
}

#b {
    width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(7,185,252);
}

#c {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0,149,67);
}

#d {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(154,240,0);
}

#e {
  width: 50%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255,178,0);
}

#f {
  width: 50%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234,0,52);
}

#g {
  width: 50%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255,130,42);
}

#h {
  width: 50%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255,230,50);
}

#i {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(130,0,172);
}
.containerOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


@media screen and (min-width: 768px) {
  div {
    
    display: block;
  }
    body {
      width: 960px;
   }
    
    
    #a {
      width: 960px;
      height: 100px;
      align-items: center;
      background-color: rgb(130,0,172);
    }
    
    #b {
      width: 200px;
      height: 600px;
      align-content: center;
      line-height: 600px;
      background-color: rgb(255,230,50);;
    }
    
    #c {
      width: 50%;
      height: 200px;
      text-align: center;
      line-height: 200px;
      display: flex;
      background-color: rgb(255,130,42);
    }
    
    #d {
      width: 50%;
      height: 200px;
      text-align: center;
      line-height: 200px;
    display: flex;
    background-color: rgb(234,0,52);
    }
    
    #e {
      width: 25%;
      height: 250px;
      text-align: center;
      line-height: 250px;
    display: flex;
    background-color: rgb(255,178,0);
    }
    
    #f {
      width: 25%;
      height: 250px;
      text-align: center;
      line-height: 250px;
    display: flex;
    background-color: rgb(154,240,0);
    }
    
    #g {
      width: 25%;
      height: 250px;
      text-align: center;
      line-height: 250px;
      display: flex;
    background-color: rgb(0,149,67);
    }
    
    #h {
      width: 25%;
      height: 250px;
      text-align: center;
      line-height: 250px;
      display: flex;
      background-color: rgb(7,185,252);
    }
    
    #i {
      width: 760px;
      height: 150px;
      text-align: center;
      line-height: 150px;
      background-color: rgb(0,71, 189) ;      
    }
.containerOne {
  width: 760px; ;
}    
main {
  display: flex;
  flex-direction: row;
}
  }
