#a {
  width: 480px;
  height: 75px;
  background: lightgray;
}

#b {
    width: 480px;
  height: 150px;
  background: lightgrey;
}

#c {
  width: 480px;
  height: 125px;
  background: lightgrey;
}

#d {
  width: 480px;
  height: 125px;
  background: lightgrey;
}

#e {
  width: 240px;
  height: 250px;
  background: lightgrey;
}

#f {
  width: 240px;
  height: 250px;
  background: lightgrey;
}

#g {
  width: 240px;
  height: 250px;
  background: lightgrey;
}

#h {
  width: 240px;
  height: 250px;
  background: lightgrey;
}

#i {
  width: 480px;
  height: 80px;
  background: lightgrey;
};
